/*Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500&display=swap");

/*Importing all components file*/
@import url("components/button-ordernow.css");
@import url("components/button-continueshopping.css");
@import url("components/button-cart.css");
@import url("components/banner.css");
@import url("components/logo.css");
@import url("components/customer-account.css");
@import url("components/background.css");
@import url("components/card-homepage.css");
@import url("components/card-lastpage.css");
@import url("components/card-menuboxes.css");
@import url("components/card-boxdescription.css");
@import url("components/container.css");

/*General style rules for fonts and colours*/
body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  font-size: 18px;
  margin: 0px;
  line-height: 35px;
  font-weight: lighter;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  text-align: left;
  font-size: 30px;
  padding: 0px;
}

h2,h3{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: lighter;
  line-height: 35px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
  text-align: center;
}

p{
  text-align: center;
  font-size: 15px;
}

a{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/*General rules for the banner*/
.banner h1{
  font-size: 30px;
  text-align: left;
}

/*General rules for the header*/
.header h2 {
  font-size: 25px;
}

/*Start rules for the icon-topright*/
.icon-topright{
  list-style: none;
  padding: 0px;
  float: right;
}

.icon-topright li{
  display: inline;
  padding: 150px 10px;
}

.icon-topright i{
  font-size: 25px;
  color: white;
  padding: 15px 10px;
}

.icon-topright i:hover{
  color: grey;
}

/*Start rules for the icon-topleft*/
.icon-topleft{
  list-style: none;
  padding: 0px;
  float: left;
}

.icon-topleft li{
  display: inline;
  padding: 150px 10px;
}

.icon-topleft i{
  font-size: 35px;
  color: white;
  padding: 15px 10px;
}

.icon-topleft i:hover{
  color: grey;
}

/*General rules for cards*/
.cards{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

/*Start rules for the social media icons*/
.icon-social{
  text-align: center;
  padding: 0px;
}

.icon-social li{
  display: inline;
  padding: 10px;
}

.icon-social i{
  font-size: 45px;
  color: white;
}

.icon-social i:hover{
  color: grey;
}

/*Specific rules for Read More*/
.readmore{
  font-size: 15px
}
