/*General rules for the botton "Add to Cart"*/
.btn-cart{
  background-color: #5a4b31;
  padding: 10px 15px;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin: 0px;
}


