/*General rules for the avatar team-account*/
.team-account{
  width: 80px;
  height: auto;
  padding: 10px;
  border-radius:500px;
  opacity:1;
  background-repeat:round;
}

.team-account:hover{
  border: 2px solid #5a4b31;
}
